.stepper {
  display: flex;
  padding: 16px 130px;

  a {
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: #CCCCCC;
    margin-right: 5px;
  }
  p {
    font-size: 16px;
    line-height: 20px;
    color: #CCCCCC;
    margin-right: 5px;
  }
  .step {
    display: flex;
  }

  .active {
    font-size: 16px;
    line-height: 20px;
    color: #3A80BA;
  }
}

@media (max-width: 875px) {
  .stepper {
    padding: 15px;
    
    a {
      font-size: 14px;
    }
  }
}